# Question: 1
### Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [28]:
list = []
for i in range (1500, 2701):
  if i % 7 == 0 and i % 5 == 0:
    list.append(i)
print(list)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

# Question: 2
### Write a Python program to convert temperatures to and from celsius, fahrenheit.

In [29]:
temperature = float(input("Enter the temperature: "))
unit = input("Enter the unit (C or F): ")
if unit == "C" or "c":
  fahrenheit = (temperature * 9/5) + 32
  print("The temperature in Fahrenheit is " + str(fahrenheit))

elif unit == "F" or "f":
  celsius = (temperature - 32) * 5/9
  print("The temperature in Celsius is " + str(celsius))
else:
  print("Invalid unit")

Enter the temperature: 35
Enter the unit (C or F): f
The temperature in Fahrenheit is 95.0

# Question: 3

### Write a Python program to guess a number between 1 to 9

In [32]:
import random

number = random.randint(1, 9)
guess = int(input("Guess a number between 1 and 9: "))
while guess != number:
    guess = int(input("Guess not correct, Guess a number between 1 and 9 again: "))
print("Well guessed!")

Guess a number between 1 and 9: 1
Guess not correct, Guess a number between 1 and 9 again: 2
Guess not correct, Guess a number between 1 and 9 again: 3
Guess not correct, Guess a number between 1 and 9 again: 4
Guess not correct, Guess a number between 1 and 9 again: 5
Well guessed!

# Question: 4

### Write a Python program to construct the following pattern, using a nested for loop.

In [33]:
for i in range (1,5,1):
  print('*'*i)
  if i == 4:
    for j in range (4,0,-1):
      print('*'*j)

*
**
***
****
****
***
**
*

# Question: 5

### Write a Python program that accepts a word from the user and reverse it.

In [34]:
userInput = input("Enter a word: ")
userInput = userInput[::-1]
print(userInput)

Enter a word: Hello
olleH

# Question: 6
### Write a Python program to count the number of even and odd numbers from a series of numbers.

In [35]:
listOfNumbers = [1,2, 3, 4, 5, 6, 7]
even = 0
odd =0
for i in listOfNumbers:
  if i % 2 == 0:
    even += 1
  else:
    odd += 1
print("Number of even numbers: " + str(even))
print("Number of odd numbers: " + str(odd))

Number of even numbers: 3
Number of odd numbers: 4

# Question: 7
### Write a Python program that prints each item and its corresponding type from the following list

In [36]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for i in datalist:
  print(i, type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

# Question: 8
### Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [37]:
for i in range (0, 7):
  if i == 3 or i == 6:
    continue
  print(i, end="")

01245

# Question: 9
### Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [38]:
for i in range (1, 51):
  if i%3 == 0 and i%5 == 0:
    print ("FizzBuzz")
    continue
  if i%3 == 0:
    print ("Fizz")
    continue
  if i%5 == 0:
    print ("Buzz")
    continue
  print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

# Question: 10
###	Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

In [39]:
m = int(input("Enter the number of rows: "))
n = int(input("Enter the number of columns: "))
array = []
for i in range (m):
  row = []
  for j in range (n):
    row.append(i*j)
  array.append(row)
print(array)

Enter the number of rows: 3
Enter the number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

# Question: 11

### Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case)

In [41]:
while True:
  line = input()
  if line:
    print(line.lower())

  else:
    print("empty line entered. Exiting...")
    break

kamran
kamran
aqeel
aqeel

empty line entered. Exiting...

# Question: 12
### Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence.

In [43]:
binary_numbers = input("Enter comma separated 4-digit binary numbers: ")

binary_list = binary_numbers.split(',') #split the input using comma (,)
divisible_by_5 = [] #make list of numbers divisible by 5

for binary in binary_list:
    if int(binary, 2) % 5 == 0:
        divisible_by_5.append(binary)
print(','.join(divisible_by_5)) #join the numbers using comma so that we get the required output seperated by comma

Enter comma separated 4-digit binary numbers: 0110,0101, 1001, 1111
0101, 1111

# Question: 13
### Write a Python program that accepts a string and calculate the number of digits and letters.

In [44]:
myInput = input("Enter a string: ")
digits = 0
letters = 0
for i in myInput:
  if i.isdigit():
    digits += 1
  elif i.isalpha():
    letters += 1
  else:
    pass
print("Letters: " + str(letters))
print("Digits: " + str(digits))

Enter a string: Kami123
Letters: 4
Digits: 3

# Question 14

### Write a Python program to check the validity of password input by users.  
<br>
Validation :<br>
At least 1 letter between [a-z] and 1 letter between [A-Z].<br>
At least 1 number between [0-9].<br>
At least 1 character from [$#@].<br>
Minimum length 6 characters.<br>
Maximum length 16 characters.<br>

In [46]:
import re
import sys
password =  input("Enter your password: ")
# Check if password length is between 6 and 16 characters
if len(password) < 6 or len(password) > 16:
  print("Invalid password. Password length should be between 6 and 16 characters.")
  sys.exit()

# Check if there's at least one lowercase letter [a-z]
if not re.search("[a-z]", password):
  print("Invalid password. Password should contain at least one lowercase letter.")
  sys.exit()

# Check if there's at least one uppercase letter [A-Z]
if not re.search("[A-Z]", password):
  print("Invalid password. Password should contain at least one uppercase letter.")
  sys.exit()

# Check if there's at least one digit [0-9]
if not re.search("[0-9]", password):
  print("Invalid password. Password should contain at least one digit.")
  sys.exit()

# Check if there's at least one special character from [$#@]
if not re.search("[$#@]", password):
    print("Invalid password. Password should contain at least one special character from [$#@].")
    sys.exit()

print("Valid password")

Enter your password: Password#1
Valid password

# Question: 15

### Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [47]:
all_even = []
for number in range (200, 401):
  number = str(number)
  if int(number[0]) % 2 == 0 and int(number[1]) % 2 == 0 and int(number[2]) % 2 == 0:
    all_even.append(number)
print(",".join(all_even))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400